<!-- <img src="../assets/comedy-night.jpg"  class=" rounded-circle mx-auto d-block" alt="log">

<div class="container">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr >
      <th scope="col">Id</th>
      <th scope="col">TYPE</th>
      <th scope="col">SETUP</th>
      <th scope="col">PUNCHLINE</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <th scope="row">{{apiData}}</th>
      <td>{{apiData.type}}</td>
      <td>{{apiData.setup}}</td>
      <td>{{apiData.punchline}}</td>
    </tr>
    
  
  </tbody>
</table>
</div> -->

<h1>{{apiData[0].name}}</h1>