
<style>
    h3 {left: 200px;}
    p {text-align: center;}
    div {text-align: center;}
    </style>




<div>
    <br>
    <h3 style="color:rgb(255, 0, 0)">IP Info Details</h3>

    <br>
    <br>
    <font face="Courier New" size="6">
<table class="table table-success table-striped">
   <thead>
<tr>

    <th scope="row">Count</th>
    <td>{{ipData.count}}</td>

</tr>

<tr>

    <th scope="row">Gender</th>
    <td>{{ipData.gender}}</td>

</tr>

<tr>

    <th scope="row">Name</th>
    <td>{{ipData.name}}</td>

</tr>

<tr>

    <th scope="row">Probability</th>
    <td>{{ipData.probability}}</td>

</tr>
</thead>

<tbody></tbody>

</table>
</font>

</div>

<!-- 
Count: {{ipData.count}}
<br>
Gender: {{ipData.gender}}<br>
Name: {{ipData.name}}<br>
Probability: {{ipData.probability}} -->
